body{
  background-color: whitesmoke;
}
.fulldiv{
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: blue; */
}
.main{
  height: 100vh;
  width: 70vw;
  /* background-color: a; */
}
.asidediv{
  height: 100vh;
  width: 30vw;
  /* background-color: black; */
}
.navbar{
  height: 10vh;
}
.bodyy{
  height: 90vh;
}
.listicon{
  height: 2px;
  width: 2px;
}
.header{
  display: inline;
}
.images{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.list1{
  list-style-type: none;
  line-break: auto;
}
.list1 li{
  margin-top: 10px;
}
.mydiv{
  display: flex;
  flex-direction: row;
}